\logs\
\checkpoints\
\data\
*\__pycache__\
.idea\
USAGE.md
.vscode/sftp.json
*.pyc
*.json
*.pkl
*.log
src/config/__init__.py
PATH_CONFIGURATION.md
.dockerignore
*.gitkeep
*.sh
PaRaMS_run.*
/extensions/
/results/
verify_pruning.py
ViT-B-32_state_dict_keys.txt
*.DS_Store
prune_adaptive_eval.py
binary_eval.py
