\logs\
\checkpoints\
\data\
*\__pycache__\
.idea\
USAGE.md
.vscode/sftp.json
*.pyc
*.json
*.pkl
*.log
src/config/__init__.py
PATH_CONFIGURATION.md
.dockerignore
*/.gitkeep
results/evaluation/.gitkeep
results/modification/.gitkeep
